.keyword {
    -fx-fill: darkblue;
    -fx-font-weight: bold;
}

.semicolon {
    -fx-font-weight: bold;
}

.paren {
    -fx-fill: teal;
    -fx-font-weight: bold;
}

.bracket {
    -fx-fill: teal;
    -fx-font-weight: bold;
}

.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}

.string {
    -fx-fill: green;
}

.comment {
    -fx-fill: grey;
}

.annotation {
    -fx-fill: darkblue;
    -fx-font-weight: bold;
}
